<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hannah Levander</title>
    <link rel="stylesheet" href="/layout.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />
  </head>
  <body>

    <div class="title-header">
      <h2>HANNAH LEVANDER</h2>
    </div>

    <header class="navbar">
      <section class="navbar-section"></section>
      <section class="navbar-center">
        <a href="/" class="text-dark">HOME</a>
        <a href="/projects" class="text-dark">PROJECTS</a>
        <a href="/about" class="text-dark">ABOUT</a>
        <a href="/faq" class="text-dark">FAQ</a>
        <a href="/guestbook" class="text-dark">GUESTBOOK</a>
        <a href="/contact" class="text-dark">CONTACT</a>
        {{#if session.isLoggedIn}}
          <a href="/logout" class="text-success"><i
              class="icon icon-people"
            ></i></a>
        {{else}}
          <a href="/login" class="text-dark"><i
              class="icon icon-people"
            ></i></a>
        {{/if}}
      </section>
      <section class="navbar-section"></section>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <div class="footerContent">
        <i class="icon icon-location"></i>
        Jönköping<br />Copyright Hannah Levander 2022
      </div>
    </footer>

  </body>
</html>