<div class="container-about-page">
  <img
    src="/images/Hannah-portrait.JPEG"
    class="img-Hannah-portrait"
    alt="A photo of Hannah"
  />

  <div class="text-about-me">
    <div class="title-about-page">
      <h3>THIS IS HANNAH</h3>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.</p>
  </div>
</div>