<div class="container-about-page">
  <img
    src="/images/Hannah-portrait.JPEG"
    class="img-Hannah-portrait"
    alt="A photo of Hannah"
  />

  <div class="text-about-me">
    <div class="title-about-page">
      <h3>THIS IS HANNAH</h3>
    </div>
    <p>My name is hannah Levander. I am 21 years old and I am born and raised in
      Jönköping. I started studying the program New media Design at Jönköpings
      University for the autumn semester 2021. This porfolio website is one of
      my projects in the course Web Development Fundamentals. I have always
      loved being creative and I strive to always be better. If you have more
      questions or feedback you can write in my guestbook or FAQ page!
    </p>
  </div>
</div>