{{#if errorMessages.length}}
  <p>Couldn't create the project because</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if projects.length}}
  <ul>
    {{#each projects}}
      <li><a href="/projects/{{id}}">{{title}}</a></li>
    {{/each}}
  </ul>

  {{#else}}
    <p>There's no projects uploaded yet...</p>
  {{/else}}

{{/if}}

<div class="items-in-center-container">
<form action="/projects/create" method="post">
  <div class="form-create-project">
    <div class="form-group">
      <label class="form-label" for="input-example-3"><h3>CREATE PROJECT</h3></label>
      {{! <label class="form-label" for="input-example-1"></label> }}
      <input
        class="form-input"
        type="text"
        id="input-example-1"
        name="title"
        value=""  
        placeholder="Title"
      />
      <textarea
        class="form-input"
        id="input-example-3"
        name="description"
        value=""
        placeholder="Write description..."
        rows="3"
      ></textarea>
      <div class="center-and-padding-button">
        <a href=""><button class="btn btn-primary">Create</button></a>
      </div>
</form>
</div>