<h1>Welcome to my portfolio</h1>
<img
  src="public/images/NMD_flag.svg"
  alt="A PDF of flag with the Programme New Media Design."
/>
<p>This website will give you an insight of who I am and my work.</p>