{{! <h1>Welcome to my portfolio</h1>
<img
  src="public/images/NMD_flag.svg"
  alt="A PDF of flag with the Programme New Media Design."
/>
<p>This website will give you an insight of who I am and my work.</p> }}

{{! </div>
<div class="hero">
  <div class="hero-body">
    <h1>Hi there!</h1>
    <p>Welcome to my portfolio</p>
  </div>
</div> }}

<div class="container-home-page">
  <img
    src="/images/winter_breakfast.jpg"
    class="img-winter-breakfast"
    alt="An illustration made by Hannah that pictures a winter morning"
  />
  <img
    src="/images/summer_breakfast.jpg"
    class="img-summer-breakfast"
    alt="An illustration made by Hannah that pictures a summer morning"
  />

  <div class="illustration-title-and-description">
      <h3>ILLUSTRATION</h3>

    <p>WINTER VS SUMMER MORNING</p>
    
    <div class="project-description-text">
      <p>These illustrations are part of a school</br> projecton the program New
        Media Design at </br> Jönköping University.</br> </br>       
        <a href="/projects" class="text-gray">More of my projects</a></p>
    </div>
  </div>
</div>

{{! <img
    src="/images/Minion_patch.jpg" 
    id="minion-patch" 
    alt="A photo of one of Hannah's work - Patches for the programme New Media Design on the Kick off 2022."/> }}

{{! <div class="carousel">
  <!-- carousel locator -->
  <input
    class="carousel-locator"
    id="slide-1"
    type="radio"
    name="carousel-radio"
    hidden=""
    checked=""
  />
  <input
    class="carousel-locator"
    id="slide-2"
    type="radio"
    name="carousel-radio"
    hidden=""
  />
  <input
    class="carousel-locator"
    id="slide-3"
    type="radio"
    name="carousel-radio"
    hidden=""
  />
  <input
    class="carousel-locator"
    id="slide-4"
    type="radio"
    name="carousel-radio"
    hidden=""
  />

  <!-- carousel container -->
  <div class="carousel-container">
    <!-- carousel item -->
    <figure class="carousel-item">
      <label class="item-prev btn btn-action btn-lg" for="slide-4"><i
          class="icon icon-arrow-left"
        ></i></label>
      <label class="item-next btn btn-action btn-lg" for="slide-2"><i
          class="icon icon-arrow-right"
        ></i></label>
      <img class="img-responsive rounded" src="/images/NMD_flag_fullsize.jpg" />
    </figure>
    <figure class="carousel-item">
      <label class="item-prev btn btn-action btn-lg" for="slide-1"><i
          class="icon icon-arrow-left"
        ></i></label>
      <label class="item-next btn btn-action btn-lg" for="slide-3"><i
          class="icon icon-arrow-right"
        ></i></label>
      <img
        class="img-responsive rounded"
        src="images/NMD_patches.jpg"
        alt="macOS Yosemite Wallpaper"
      />
    </figure>
    <figure class="carousel-item">
      <label class="item-prev btn btn-action btn-lg" for="slide-2"><i
          class="icon icon-arrow-left"
        ></i></label>
      <label class="item-next btn btn-action btn-lg" for="slide-4"><i
          class="icon icon-arrow-right"
        ></i></label>
      <img
        class="img-responsive rounded"
        src="img/osx-el-capitan.jpg"
        alt="macOS El Capitan Wallpaper"
      />
    </figure>
    <figure class="carousel-item">
      <label class="item-prev btn btn-action btn-lg" for="slide-3"><i
          class="icon icon-arrow-left"
        ></i></label>
      <label class="item-next btn btn-action btn-lg" for="slide-1"><i
          class="icon icon-arrow-right"
        ></i></label>
      <img
        class="img-responsive rounded"
        src="img/osx-el-capitan-2.jpg"
        alt="macOS El Capitan Wallpaper"
      />
    </figure>
  </div>
  <!-- carousel navigation -->
  <div class="carousel-nav">
    <label class="nav-item text-hide c-hand" for="slide-1">1</label>
    <label class="nav-item text-hide c-hand" for="slide-2">2</label>
    <label class="nav-item text-hide c-hand" for="slide-3">3</label>
    <label class="nav-item text-hide c-hand" for="slide-4">4</label>
  </div>
</div> }}