<div class="project-page-title">
  <h3>Project</h3>
</div>

{{#if project}}
  <p><strong>Title:</strong> {{project.title}}</p>
  <p><strong>Description:</strong> {{project.description}}</p>
{{else}}
  <p>The project you are currently looking for does not exist</p>
{{/if}}