* {
  user-select: none;
}

/* Main styling*/

/*Margins*/
main {
  margin: 80px 100px 100px 100px;
}

h2 {
  text-align: center;
}

b {
  font-size: 1.8em;
}

/*Header in center*/
.title-header {
  text-align: center;
  padding-top: 30px;
  user-select: none;
}

/*Navbar styling for content*/
.navbar-center {
  justify-content: center;
  gap: 40px;
}

/*Footer styling*/
footer {
  text-align: center;
  height: 200px;
  width: auto;
  background-color: rgb(189, 189, 189);
}

/*Padding for content in the footer*/
.footerContent {
  padding-top: 40px;
}

/*Icons in Project page when logged in*/
.space-around-items {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

/* Place in center of screen*/
.items-in-center-container {
  display: flex;
  justify-content: center;
}

/* Place text in center of screen*/
.text-in-center-container {
  text-align: center;
}

/* Styling form ...*/
textarea {
  padding: 20px;
}

/* Form group styling */
.form-group {
  width: 28vw;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
  grid-area: 2 / 3 / 1 / 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.center-and-padding-button {
  padding-top: 10px;
  text-align: center;
}

/* Home page */
.container-home-page {
  display: grid;
  grid-template-columns: auto 2fr 2fr;
  padding-top: 80px;
}

.illustration-title-and-description {
  padding-top: 100px;
}

.img-winter-breakfast {
  width: 25vw;
}
.img-summer-breakfast {
  width: 25vw;
}

/* Projects page */
.projects-title {
  text-align: center;
}

.title-for-each-project {
  font-size: 1.5em;
  text-align: center;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding-top: 50px;
}

.projects-image {
  width: 20vw;
  height: 25vw;
}

/*Create project form group*/
.form-create-project {
  width: 600px;
  align-items: center;
  text-align: center;
}

/* Specific project page */
.project-page-title {
  padding-bottom: 20px;
}

/* About page */
.container-about-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-Hannah-portrait {
  width: 25vw;
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: end;
  padding-right: 20px;
}
.title-about-page {
  grid-column-start: 2;
  grid-column-end: 3;
}

.text-about-me {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 20px;
  padding-right: 300px;
}
/* FAQ and Guestbook container */
.container-guestbook-and-faq {
  display: grid;
  padding-top: 0px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 50px;
  padding-top: 50px;
  gap: 40px;
}

/* FAQ page */
.faq-post {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.faq-question-style {
  font-size: 1.8em;
  text-align: left;
}

/* Guestbook page */
.guestbook-post {
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Contact page */
#img-Hannah {
  width: 25vw;
  text-align: center;
}

.contact-text-and-items {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 50px;
}

/* Log in page */
.log-in-text-place-in-center {
  text-align: center;
  font-size: 20px;
}

.log-in-content {
  text-align: left;
}
